.dropdown-menu > li > a {white-space: normal;}
.dropdown{position:relative;}
.dropdown>.dropdown-menu{z-index: 1000;top:0;max-width:180px;margin-top:39px;margin-left:8px;-webkit-border-radius:6px 6px 6px 6px;-moz-border-radius:6px 6px 6px 6px;border-radius:6px 6px 6px 6px;}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}
.dropdown-toggle:hover:after{
	color:black;
}
.dropdown-toggle:hover{
	background-color: #ddd;
}
.dropdown-toggle:hover span{
	color: black;
}
.svg-inline--fa{
	width: 25px;
	display: inline-block;
	margin-left: 10px;
}
.navbar-brand{
	margin-right: 4px;
}
.nav-link{
	display: inline-block;
	color: white!important;
	font-weight: bold!important;
}
.sidebar-body:hover > span{
	color: black!important;
}
.sidebar-body:hover{
	cursor:pointer;
	background-color: #ddd;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{
	background-color: #0088cc;
}
.menu_first{
	height: 100%;
	overflow: hidden;
	display: inline-block;
	color:white;
	cursor:pointer;
	padding: 5px;
}
.menu_first:hover{
	color:#bbbbff;
}
.menu_second{
	height: 100%;
	overflow: hidden;
	display: inline-block;
	color:white;
	cursor:pointer;
	padding: 5px;
}
.menu_second:hover{
	color:#bbbbff;
}
.edit_div{
	width: 400px;
	background-color: #ffffff;
	border-collapse:separate;
	border:solid #e8e8e8 1px;
	border-radius:10px;
	-moz-border-radius:10px;
	font-size:13px;
	font-family:Arial;
	padding: 15px;
}
#edit_box{
    visibility:hidden;
    position:absolute;
    border: 0px;
    color:black;
    z-index:100;
    width: 0px;
    height:0px;
    padding:20px;
}
#delete_table td{
		padding:3px;
	}
#delete_table{
	margin:auto;
	width: 400px;
	background-color: #ffffff;
	border-collapse:separate;
	border:solid #e8e8e8 1px;
	border-radius:10px;
	-moz-border-radius:10px;
	font-size:13px;
	font-family:Arial;
	padding: 15px 20px 20px 20px;
}
body{
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
.pagination-wrap, .params{
	padding: 0px 10px;
}
.counter{display:inline-block;margin-top:20px;padding:6px 12px;background-color:#ffffff;border:1px solid #dddddd;border-radius:0}
@media screen and (min-width:768px){.counter{float:right}}
.pagination{display:inline-block;padding-left:0;margin:20px 0;border-radius:0}
.pagination > li{display:inline}
.pagination > li > a,.pagination > li > span{position:relative;float:left;padding:6px 12px;line-height:1.42857143;text-decoration:none;color:#0077bb;background-color:#ffffff;border:1px solid #dddddd;margin-left:-1px}
.pagination > li:first-child > a,.pagination > li:first-child > span{margin-left:0;border-bottom-left-radius:0;border-top-left-radius:0}
.pagination > li:last-child > a,.pagination > li:last-child > span{border-bottom-right-radius:0;border-top-right-radius:0}
.pagination > li > a:hover,.pagination > li > span:hover,.pagination > li > a:focus,.pagination > li > span:focus{color:#00466e;background-color:#eeeeee;border-color:#dddddd}
.pagination > .active > a,.pagination > .active > span,.pagination > .active > a:hover,.pagination > .active > span:hover,.pagination > .active > a:focus,.pagination > .active > span:focus{z-index:2;color:#ffffff;background-color:#0077bb;border-color:#0077bb;cursor:default}
.pagination > .disabled > span,.pagination > .disabled > span:hover,.pagination > .disabled > span:focus,.pagination > .disabled > a,.pagination > .disabled > a:hover,.pagination > .disabled > a:focus{color:#999999;background-color:#ffffff;border-color:#dddddd;cursor:not-allowed}
.pagination-lg > li > a,.pagination-lg > li > span{padding:10px 16px;font-size:18px}
.pagination-lg > li:first-child > a,.pagination-lg > li:first-child > span{border-bottom-left-radius:0;border-top-left-radius:0}
.pagination-lg > li:last-child > a,.pagination-lg > li:last-child > span{border-bottom-right-radius:0;border-top-right-radius:0}
.pagination-sm > li > a,.pagination-sm > li > span{padding:5px 10px;font-size:12px}
.pagination-sm > li:first-child > a,.pagination-sm > li:first-child > span{border-bottom-left-radius:0;border-top-left-radius:0}
.pagination-sm > li:last-child > a,.pagination-sm > li:last-child > span{border-bottom-right-radius:0;border-top-right-radius:0}

.adminborder{
	border: 1px solid #CACACA;
	border-style:dotted;
	-webkit-border-radius: 11;
	-moz-border-radius: 11;
	border-radius: 11px;
	background-color:#CBCBCB;
	text-align:center;
}
.my_selects, .my_select_timelapse, .my_select_reqs
{
  border: 2px solid #fbfbfb;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  min-height: 25px;
  padding: 2px 2px 2px 8px;
  font-size: 12px;
  -moz-transition: all .2s linear;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  margin: 5px;
}
.my_selects:focus, .my_select_timelapse:focus, .my_select_reqs:focus
{
  border-color: #3399FF;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  outline: none;
}
.imgbut
{
	-webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 5px;
  padding: 2px 6px;
  border: solid #E8E8E8 1px;
  outline:none;
  width:50px;
  cursor: pointer;
	margin-left: 10px;
}
.request_msg{
	//text-overflow: ellipsis;
	overflow:hidden;
	//white-space: nowrap;
	width: 400px;
	//display: block;
	height:50px;
	cursor: pointer;
	border: 1px solid #D5B8B7;
	border-style:dotted;
	padding: 5px 5px;
	background-color:#FFFFC0;
}
.filter_img{
	cursor:pointer;
	position:absolute;
	float:top;
	width:9px;
	height:auto;
}
table.table_source{
	word-wrap: break-word;
	border: 1px solid #D5B8B7;
	//table-layout: fixed;
	margin:0px 0px 0px 0px;
	width:100%;
	border-radius: 4px;
  box-shadow: 0px 0px 6px rgba(0,0,0,0.15);
}
table.table_source th{
  font-weight:normal;
	text-align:center;
	padding: 2px 5px;
	font-size: 0.9em;
}
table.table_source tr td{
	max-width: 200px;
	font-size: 0.9em;
}
table.table_source td{
    padding: 2px 5px;
}
table.table_source tr th {
    border: 1px solid #D5B8B7;
}
.loginb{
	color:white;
	font-weight:bold;
	cursor:pointer;
}
.loginb:hover{
	color:#c9c9c9;
}
#footer{
  padding: 20px;
  color: #fff;
  background: #0088cc;
	position:absolute;
	bottom:0;
	width:100%;
}
.active{
	color: black!important;
}
html{
    position: relative;
    min-height: 100%;
		padding-bottom: 100px;
}
.extra{
	display:inline;
}
